*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.run.xml
*.synctex.gz
*.toc
*.env
deepeval.txt
*.DS_Store
Domanda_conseguimento_laurea_Palmieri.pdf
retrieval_metrics.csv
dump.txt
main.py
thesis_template_dump.txt
